<table>
  <tr>
    <td><%= link_to "在庫集計", aggregate_path, class: 'btn btn-default btn-lg btn-block' %></td>
  </tr>
  <tr>
    <td><%= link_to "貸出し登録", stock_list_path, class: 'btn btn-default btn-lg btn-block' %></td>
  </tr>
  <tr>
    <td><%= link_to "返却登録", return_list_path, class: 'btn btn-default btn-lg btn-block' %></td>
  </tr>
  <tr>
    <td><%= link_to "在庫登録", new_stock_path, class: 'btn btn-default btn-lg btn-block' %></td>
  </tr>
  <tr>
    <td><%= link_to "スタッフ登録", new_staff_path, class: 'btn btn-default btn-lg btn-block' %></td>
  </tr>  
  <tr>
    <td><%= link_to "在庫一覧", stocks_path, class: 'btn btn-default btn-lg btn-block' %></td>
  </tr>
</table>